{# src/AppBundle/Resources/views/Subscription/subscribe_checkout.html.twig #}
<p>
    User "{{ subscriber.email }}" is subscribed.
</p>
<p>
    <a href="{{ path('index', { '_locale': _locale }) }}">main</a>
</p>
