{# src/AppBundle/Resources/views/Component/Header/locale.html.twig #}
<div class="lang">
    <a href="{{ path('index', { '_locale': switchLocale }, false, true) ~ routeParameters }}">{{ switchLocale|upper }}</a>
</div>
