{# src/AppBundle/Resources/views/Component/Header/social.html.twig #}
<ul class="social-holder">

    {% for title, link in social %}
        <li>
            <a href="{{ link }}" class="icon icon-{{ title }}" target="_blank"></a>
        </li>
    {% endfor %}

</ul>
