{# src/AppBundle/Resources/views/Component/Header/social.html.twig #}
<ul class="social-holder">

    {% for title, link in social %}
        <li>
            <a href="{{ link }}" target="_blank">{{ title|lower }}</a>
        </li>
    {% endfor %}

</ul>
