/.idea/

/app/bootstrap.php.cache
/app/phpunit.xml
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/config/common/parameters.yml

/bin/

/src/AppBundle/Resources/front/node_modules/*
/src/AppBundle/Resources/front/jspm_packages/*
/src/AppBundle/Resources/public/*

/vendor/

/www/bundles/
/www/images/
/www/media/

/composer.lock
