{# src/AppBundle/Resources/views/Component/landscape.html.twig #}
<div id="landscape-cap-holder">
    <div class="circle-holder"></div>
    <div class="inner">
        <span class="underline"></span>
        <h2>To get full joyness</h2>
        <p>just turn it back</p>
    </div>
</div>
