{# src/AppBundle/Resources/views/Component/landscape.html.twig #}
<div id="landscape-cap-holder">
    <div class="circle-holder"></div>
    <div class="inner">
        <span class="underline"></span>
        <h2>{{ 'common.landscape.title'|trans }}</h2>
        <p>{{ 'common.landscape.text'|trans }}</p>
    </div>
</div>
