# This file is a "template" of what your parameters.yml file should look like
parameters:
    # Database
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     time_machine
    database_user:     root
    database_password: ~
    # Mailer
    mailer_transport: smtp
    mailer_host:      127.0.0.1
    mailer_user:      ~
    mailer_password:  ~
    # Specific
    domain: time-machine.ru
    locale: ru
    locales: [ru, en]
    # Emails
    emails:
        no_reply: no-reply@time-machine.ru
    # Social
    social:
        facebook: https://www.facebook.com/mashinavremeni1969
        twitter:  https://twitter.com/mashina_vremeni
        youtube:  https://www.youtube.com/user/mashinavremeniru
    # Developers
    developers:
        name: CHEERS - Unlimited Web Production
        link: http://cheersunlimited.com.ua
    # Token
    secret: ThisTokenIsNotSoSecretChangeIt
